{% extends "base.html" %}

{% block title %}
{{ first_name }} - Hack@Brown 2015
{% endblock %}

{% block headcss %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/css/selectize.min.css"/>
<link rel="stylesheet" href="/static/jquery-ui-1.11.2.custom/jquery-ui.min.css"/>

<link rel='stylesheet' href='/static/semantic-final/semantic.min.css' />
<link rel="stylesheet" href="/static/css/hacker_page.css" />
<link rel="stylesheet" href="/static/css/index.css" />

{% endblock %}

{% block headjs %}
{{ block.super }}
<script type="application/javascript" src="/static/semantic-final/semantic.min.js"></script>
{% endblock %}

{% block nav %}
<div class="hamburger">
    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g class="hamsvg" sketch:type="MSLayerGroup">
            <rect class="bar" fill="#fff" sketch:type="MSShapeGroup" x="0" y="25" width="30" height="5"></rect>
            <rect class="bar" fill="#fff" sketch:type="MSShapeGroup" x="0" y="12.5" width="30" height="5"></rect>
            <rect class="bar" fill="#fff" sketch:type="MSShapeGroup" x="0" y="0" width="30" height="5"></rect>
        </g>
    </svg>
</div>
<div class="hamburger over"></div>
<ul class="top-bar_ul constrained" data-0="" data-1="">
    <li class="top-bar_li" id="back_top"><a class="secondary" href="/">Close</a></li> 
<!--    left close-->
    <li class="top-bar_li active" id="status_top"><a href="#status">Status</a></li>
    <li class="top-bar_li" id="info_top"><a href="#info">My Info</a></li>

</ul>
{% endblock %}

{% block content %}

<div id="delete-modal" class="ui basic modal small">
  <div class="content">
    <div class="description">
        {% if  status == "confirmed" %}
        <p>You've already confirmed your attendence!</p>
        <p>You'll have to email us: <a href="mailto:hello@hackatbrown.org?subject=Cancelling%20My%20Registration">hello@hackatbrown.org</a></p>
        {% else %}
        <p>Sure you want to cancel your registration?</p>
        <p>There's no going back!</p>
        {% endif %}
    </div>
  </div>
  <div class="actions">
    {% if  status != "confirmed" %}
    <div class="ui button pink yes">Cancel Registration</div>
    {% endif %}
    <div class="ui button no">Nevermind</div>
  </div>
</div>

<div id="rsvp-modal" class="ui basic modal small">
  <div class="content">
    <div class="description">
        <p>Confirm your attendance?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui button teal yes">Confirm</div>
    <div class="ui button no">Nevermind</div>
  </div>
</div>


<div class="trigrid container lightgrey">
    <div class="outer_container">
        <div class="panes">
            <div class="pane pane0 active white">
                <section id="mystatus" class="panel hero">
                    <div class="inner_container">
                        <h1 class="hi">Hey {{ first_name }}!</h1>
                        <p>your admission status is</p>
                        <div class="status-actions">
                            <div class="">
                                <div class="admit_status {{ status }}">
                                    <span>{{ status }}</span>
                                </div>
                                {% if status == "accepted" %}
                                <div class="rsvp field">
                                    <input id="rsvp-button" class="ui teal rsvp button"  type="button" value="RSVP?" />
                                </div>
                                {% endif %}
                            </div>
                            {% if status == "accepted" or status == "waitlisted" or status == "pending" or status == "confirmed" %}
                            <br><br><div class="delete field" onclick='window.location.href = mailto:frederickson0@students.rowan.edu'>
                                <input id="delete-button" class="ui basic rsvp button" type="button" value="Cancel Registration" />
                            </div>
                            {% endif %}
                        </div>
                        {% if status == "accepted" %}
                            {% if deadline == 1 %}
                            <p id="days-remaining">You have {{deadline}} day left to confirm your attendance.</p>
                            {% elif deadline == 0%}
                            <p id="days-remaining"><b>Today is the last day day to confirm your attendance.</b></p>
                            {% else %}
                            <p id="days-remaining">You have {{deadline}} days left to confirm your attendance.</p>
                            {% endif %}

                        {% endif %}
                    </div>
                </section>
                <section id="messages" class="panel grey condensed-top">
                    <div class="inner_container">
                        <h4 class="label grey">Messages</h4>
                        <div class="message_container">
                        <div class="message items">
                            <div class="message item prompt">
                                <h3>If you havn't, upload your resume!</h3>
                                <p>We give our sponsors your resume for potential recruitment opportunities.</p>
                                <div class="actions">
                                    <div class="field">
                                        <div class="upload-control">
                                            <a href="https://www.dropbox.com/request/7X3R66Hc6du480W0BRNM">
                                                <div id="resume-over" class="resume-upload upload ui button">
                                                    <span>Upload</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="pane pane1 white">
                <section id="myinfo" class="panel">

                {% load crispy_forms_tags %}
                {% crispy info_form info_form.helper %}
                
                </section>
            </div>
        </div>
    </div>
</div>

<script>
    //Manually redo the radio buttons b/c
    a = $('.radio');
    for(i=0;i<a.length;i++) {
        var b = a[i];
        var c = b.children[0]; //Get the top-level label
        var d = c.children[0]; //Get the input element
        var e = c.innerHTML.substring(d.outerHTML.length+1).trim();
        c.innerHTML = d.outerHTML+'<label for="'+d.id+'">'+e+'</label>';
    }
</script>

<script type="text/javascript" src='/static/js/gutabslider.js'></script>

<script type="text/javascript" src="/static/js/condor.js"></script>
<script type="text/javascript" src='/static/js/H5F.js'></script>
<!-- a polyfill that adds HTML5 form validation features to older browsers -->
<script type="application/javascript" src="/static/jquery-ui-1.11.2.custom/jquery-ui.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.11.2/js/standalone/selectize.min.js"></script>
<script type="text/javascript" src="/static/js/hacker_page.js"></script>

<script type="text/javascript" src="/static/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/static/js/imagesloaded.pkgd.min.js"></script>"

<script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.maskMoney.min.js"></script>

<script>

  $(document).ready(function () {

    if (location.hash === '#info') {
      setTabActive($("#info_top"));
      switchPanes(1);
    }

    $("#status_top").click(function () {
      this.preventDefault;
      setTabActive(this);
      switchPanes(0);
    });

    $("#info_top").click(function () {
      this.preventDefault;
      setTabActive(this);
      switchPanes(1);
    });

    initalizeNavMenu('.top-bar_ul');

    initalizeHamburger();

     $('.ui.accordion').accordion();

  });
</script>
{% endblock %}
