{% extends "base.html" %}
<meta name="google-site-verification" content="8amEw5Q6dS-QfPNyzYUp6R-dAxIuWOFImpMrev7mE7c" />
<!--hello@hackatbrown.org verification-->

{% block title %}
ProfHacks 2016 &mdash; March 12&ndash;13, Rowan University
{% endblock %}

{% block headcss %}
{{ block.super }}
<link rel='stylesheet' href='/static/semantic/minified/collections/form.min.css' />
<!--<link rel='stylesheet' href='/static/semantic-final/components/form.min.css' />-->
<link rel='stylesheet' href='/static/semantic-final/components/icon.min.css' />
<link rel='stylesheet' href='/static/semantic-final/components/input.min.css' />
<link rel='stylesheet' href='/static/semantic/minified/collections/grid.min.css' />

<link rel="stylesheet" href="/static/css/select2.css"/>
<link rel='stylesheet' href='/static/css/index.css'/>
<link rel='stylesheet' href='/static/css/component.css'/>
<link rel='stylesheet' href='/static/css/registration.css'/>
{% if registration_status == "sign_up_for_updates" %}
<link rel='stylesheet' href='/static/css/index-supdates.css'/>
{% endif %}
{% if registration_status == "registration_closed" %}
<link rel='stylesheet' href='/static/semantic-final/components/button.min.css'/>
{% endif %}
{% endblock %}

{% block headjs %}
{{ block.super }}

{% endblock %}

{% block head %}
{{ block.super }}

{% endblock %}

{% block nav %}
<div class="hamburger">
    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
        <g class="hamsvg" sketch:type="MSLayerGroup">
            <rect class="bar" fill="#fff" sketch:type="MSShapeGroup" x="0" y="25" width="30" height="5"></rect>
            <rect class="bar" fill="#fff" sketch:type="MSShapeGroup" x="0" y="12.5" width="30" height="5"></rect>
            <rect class="bar" fill="#fff" sketch:type="MSShapeGroup" x="0" y="0" width="30" height="5"></rect>
        </g>
    </svg>
</div>
<div class="hamburger over"></div>
<ul class="top-bar_ul" data-0="" data-1="">
    <li class="top-bar_li left cancel_reg" id="back_top"><a class="secondary">Cancel</a></li>
    <li class="top-bar_li active" id="hello_top"><a href="#hero">Hello World</a></li>
    <li class="top-bar_li" id="schedule_top"><a href="#meta">Meta</a></li>
    <li class="top-bar_li" id="schedule_top"><a href="#physical">Physical Web</a></li>
    <li class="top-bar_li" id="schedule_top"><a href="#escape">Escape Room</a></li>
    <li class="top-bar_li" id="schedule_top"><a href="#schedule">Schedule</a></li>
    <li class="top-bar_li" id="sponsors_top"><a href="#sponsors">Sponsors</a></li>
<!--    <li class="top-bar_li" id="sponsors_top"><a href="#partners">Partners</a></li>-->
    <li class="top-bar_li" id="faq_top"><a href="#faq">FAQ</a></li>
</ul>
{% endblock %}

{% block content %}

{% include "social.html" %} <!-- necessary to support like buttons, etc -->

<div class="fader"></div>

<div id="skrollr-body" class="container">

    <section id='hero' class="splash panel">
        <div class="double">
            <div class="double_left">
                <div class='logo'></div>
                <div class='title'>ProfHacks<span class='light'>2016</span></div>
                <div class='datetime light'>
                    <h2>March 12&ndash;13 &bull; Glassboro, NJ &bull;</h2>
                </div>
                
                <div class='slogan'>Enter the physical web</div>
                
                
                {% if registration_status == "sign_up_for_updates" %}
                <form id='sign-up-for-updates' action='/sign_up_for_updates' method='POST'>
                    <input class='main_cta' type='email' name='email' id='email' placeholder='subscribe for updates' required/>
                </form>
                {% endif %}
                {% if registration_status == "registration_open" %}
                {% endif %}
                <form id="registration_email" action="/__check_registered" class="init_reg" novalidate>
                    <!--<input type="email" name="email" placeholder="EMAIL" class="init_input" required/>-->
                    <input type="submit" value="REGISTER" class="init_submit light" onclick="registrationGo()"/>
                </form>
                
                {% if registration_status == "registration_closed" %}
                <style>
                    input[type=submit] {
                        background-color: #918f8c !important;
                        border: 2px solid #918f8c !important;
                        cursor: not-allowed !important;
                    }
                </style>
                <form class="init_reg">
                    <input type="submit" value="REGISTRATION CLOSED" class="init_submit light"/>
                </form>
                {% endif %}
                
                 <div class='down_arrow'></div>
                
            </div>

            {% if registration_status == "registration_open" %} 
                {% include "registration_form.html" %}
            {% endif %}
        </div>
        <canvas id="hero_canvas"></canvas>
    </section>
    
    <div id="panels" class="panels">
        <section class="panel triangle">
            <div class='triangle_bottom_right meta_triangle_top'></div>
            <div class="foreground content_container meta">
                <div>
                    <article id='meta'>
                        <h1>What is a hackathon?</h1>
                        <p>A hackathon is like a weekend science  fair, student teams come to build cool things that are then judged. Winners can take home a lot of awesome prizes!</p>
                        
                        <h1>Rowan's Inaugural Hackathon</h1>
                        <p>Rowan's IEEE (Institute for Electrical and Electronics Engineers) is hosting its inaugural hackathon at Rowan University!</p>
                        <p>Rowan University is located in Glassboro, NJ, just half an hour away from Philadelphia. The event will be hosted in Rowan Hall, the engineering building. Participants can park for free in Lot D, just off of Joseph L. Bowe Blvd.</p>
                        <iframe class='map' frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="iframeDim" src="https://maps.google.com/maps?hl=en&amp;q=Rowan Hall, 600 North Campus Drive, Glassboro, NJ 08028&amp;ie=UTF8&amp;t=roadmap&amp;z=16&amp;iwloc=B&amp;output=embed" style='width:100%; min-height:200px'></iframe>
                    </article>
                </div>
            </div>
            <div class='triangle_top_left meta_triangle_bottom'></div>
        </section>
        
        <section class="panel triangle">
            <div class='triangle_bottom_right twitter_triangle_top'></div>
            <div class="foreground content_container twitter_panel">
                <div>
                    <article id='twitter_panel'>
                        <h2><a href='https://twitter.com/search?q=%23profhacks&src=typd' target="_blank">Tweet using #ProfHacks</a></h2>
                        <a class="twitter-timeline" href="https://twitter.com/ProfHackathon" data-widget-id="684152383778230273">Tweets by @ProfHackathon</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </article>
                </div>
            </div>
            <div class='triangle_top_left twitter_triangle_bottom'></div>
        </section>
    
        
        <section class="panel triangle">
            <div class='triangle_bottom_right physical_triangle_top'></div>
            <div class="foreground content_container physical">
                <div>
                    <article id='physical'>
                        <h1>Enter the Physical Web.</h1>
                        <p>Our general theme is the physical web, how the Internet and technology interface with the world around us. There are three different distinct categories of the physical web. The best hack in each category will receive an award in addition to 1st, 2nd, and 3rd place.</p>
                        
                        <p>Electrical &amp; Computer Engineering at Rowan gives students many opportunities to study the physical web, whether classes in digital signal processing or smart buildings, or clinic projects in the virtual reality lab and other applications.</p>
                        
                        <h1 class='blue'>Quantified Self</h1>
                        <p>Wearable technology gives us more data about our vitals than ever before. How does tracking our steps, location, and heart rate enable us to have greater insights about our health?</p>
                        <h1 class='blue'>Sensor Journalism</h1>
                        <p>By collecting data using a network of sensors, you are able to measure and predict patterns about our environment. How can you use data to tell a story?</p>
                        
                        <h1 class='blue'>Smart Buildings</h1>
                        <p>With the Internet of Things, our thermostat, smoke alarm, and lightbulbs can talk to our phones and to each other. How does this greater connectivity allow our home to work on our behalf?</p>
                        
                    </article>
                </div>
            </div>
            <div class='triangle_top_left physical_triangle_bottom'></div>
        </section>
        
        <section class="panel triangle">
            <div class='triangle_bottom_right escape_triangle_top'></div>
            <div class="foreground content_container escape">
                <div>
                    <article id='escape'>
                        <h1>Not your average game...</h1>
                        <p>Along with your registration to ProfHacks, you will receive a ticket for a tour of a futuristic Mars research base. At a predetermied time, you and five other hackers can go to room 239 to begin. However, while you are touring, there may be an... 'incident' that will leave you trapped.</p>
                        <p>Escape rooms are a popular type of ARG (augmented reality game) which require players to team up and solve puzzles in order to escape a room in the fastest possible time. Our escape room, which has been planned and built entirely by Rowan students, is an optional mini event that hackers can do as a break.</p>
                        <p>The top three fastest times by the end of the hackathon will win prizes.</p>        
                    </article>
                </div>
            </div>
            <div class='triangle_top_left escape_triangle_bottom'></div>
        </section>

        <section class="panel triangle verbose">
            <div class='triangle_bottom_right schedule_triangle_top'></div>
            <div class="foreground content_container schedule">
                <div>
                    <article id="schedule" class="schedule-text">                    </article>
                </div>
            </div>
            <div class='triangle_top_left schedule_triangle_bottom'></div>
        </section>

        <section class="panel triangle">
            <div class='triangle_bottom_right sponsors_triangle_top'></div>
            <div class="foreground content_container sponsors">
                <div>
                    <article id='sponsors'></article>
                </div>
            </div>

        </section>
        
        <section class="panel triangle">
            <div class="foreground content_container partners">
                <div>
                    <article id='partners'>
                        <div class="sponsor-row special">
                            <a href="http://mlh.io/" target="_blank">
                                <img src="/static/img/sponsor-logos/mlh.png" alt="Major League Hacking">
                            </a>
                        </div>
                        <p>We are partnering with MLH (Major League Hacking) to provide the best possible experience to participants. By attending this event, you agree to follow the <a href='http://static.mlh.io/docs/mlh-code-of-conduct.pdf'>MLH Code of Conduct</a>.</p>
                    </article>
                </div>
            </div>
            <div class='triangle_top_left sponsors_triangle_bottom'></div>
        </section>

        <section class='panel triangle verbose'>
            <div class='triangle_bottom_right faq_triangle_top'></div>
            <div class='foreground content_container faq'>
                <div>
                    <article id='faq'></article>
                </div>
            </div>  
        </section>
        
        <div class='elevator-button'> &lt; Scroll to Top &gt;</div>
        
        <section class="panel triangle footer">
            <div class="foreground content_container"><div>
            <footer>
                <span class="copyright">Copyright &copy; 2016 ProfHacks</span>
<!--                <a class="press" href="#">X(Press)</a>-->
                <a class="coc" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>

                <ul class="social-links">
                    <li><a href="mailto:team@profhacks.com" title="Email" class="email" target="_blank"></a></li>
<!--                    <li><a href="http://facebook.com/hackatbrown" title="Facebook" class="facebook" target="_blank"></a></li>-->
                    <li><a href="http://twitter.com/profhackathon" title="Twitter" class="twitter" target="_blank"></a></li>
<!--                    <li><a href="http://medium.com/hack-at-brown" title="Blog" class="blog" target="_blank"></a></li>-->
                </ul>
            </footer>
            </div></div>
            
        </section>
    </div>
</div>

<!-- We need to include an MLH badge -->
<div>
    <a id="mlh-trust-badge" style="position:fixed;right:20px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/?utm_campaign=Trust%20Badge" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;" class='top-bar_ul' data-0="" data-1=""></a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
<script type="text/javascript" src="/static/js/hero.js"></script>

<script type="text/javascript" src='/static/js/gutabslider.js'></script>
<script type="text/javascript" src="/static/js/skrollr.js"></script>

<!--These are only for the registration form, so we can load them here-->
<script type="text/javascript" src='/static/semantic/minified/modules/behavior/form.min.js'></script>
<script type="text/javascript" src="/static/js/condor.js"></script>
<script type="text/javascript" src="/static/js/select2.min.js"></script>

<script type="text/javascript" src='/static/js/elevator.js'></script>
<script type="text/javascript" src='/static/js/schedule.js'></script>
<script type="text/javascript" src='/static/js/sponsor.js'></script>
<script type="text/javascript" src='/static/js/faq.js'></script>

<script type="text/javascript" src='/static/js/index.js'></script>

<!--Needed to avoid webkit repaint issues-->
<style></style>
{% endblock %}
